*.py[co]
__pycache__/
*.egg-info/
.mypy_cache/
.venv/
vendor/*.gz
dist/

*.sublime-workspace
.vscode/
celerybeat-schedule
celerybeat.pid

.env
*.env
.env.swp
config/*.yaml
*/var/

!.gitkeep
.vim/
.idea/